@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */

@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: light !important;
  }
}

.mat-mdc-tab:hover .mdc-tab__ripple::before,
.mat-mdc-tab-ripple {
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.tab-label-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mdc-tab__content {
  width: 95%;
  margin: auto;
}

.mdc-tab__text-label {
  width: 100%;
}

.mdc-tab--active {
  background: #f1f1f1 !important;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.mdc-tab {
  padding: 0 !important;
}
// ::ng-deep .mat-tab-group {
//   background: #f0f0f0;
//   .mat-tab-labels {
//     background-color: #3f51b5;
//     color: white;
//     .mat-tab-label {
//       &.mat-tab-label-active {
//         background-color: #283593;
//         border-radius: 5px 5px 0 0;
//       }
//     }
//   }
//   .mat-tab-body {
//     padding: 16px;
//     background-color: white;
//   }
// }

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: rgb(228, 228, 228);
  background-color: rgb(41, 26, 179);
}
